.App {
  position: relative;
}

.game-info-div{
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.5);
  padding: 1rem;
  z-index: 1;
  position: sticky;
  top: 0;
  background-color: white;
}

.character-list{
  display: flex;
  gap: 1rem;
}

.character-div{
  display: flex;
  flex-direction: column;
}

.found-character{
  opacity: 0.5;
}

.character-image-div{
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.character-image-div img{
  height: 100%;
  width: 100%;
}

.character-name{
  font-weight: bold;
}

.game-image-div{
  margin: 1rem 2rem;
  position: relative;
}

.game-image-div img{
  width: 100%;
}

.game-image-div table{
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  border-spacing: 0;
}

.game-image-div table td{
  /* border: 1px solid black; */
}

footer{
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}